body{
    text-align: center;
    background-color: darkorange;
}

img{
    width: 300px;
    border-width: 5px;
    border-color: black;
    border-style: inset;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}